.hamburger {
  position: relative;
  width: 24px;
  height: 30px;
  cursor: pointer;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  left: 0;
  width: 24px;
  height: 3px;
  background: #9c9aa6;
  border-radius: 3px;
  transition: transform 0.25s ease, opacity 0.25s ease;
  transform-origin: center;
}

.hamburger-top {
  top: 4px;
}
.hamburger-middle {
  top: 10.5px;
}
.hamburger-bottom {
  top: 18px;
}

.open .hamburger-top {
  transform: translateY(7px) rotate(45deg);
}

.open .hamburger-middle {
  opacity: 0;
}

.open .hamburger-bottom {
  transform: translateY(-7px) rotate(-45deg);
}

@media (min-width: 1024px) {

  /* Nav-underline effect START*/
  .navItem {
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-bottom: 2px;
    transition: transform 0.3s ease;
  }
  .navItem:hover {
    transform: translateY(-3px);
  }
  /* Creates invisible border */
  .navItem::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 3px;
    background-color: #000;
    transform: scaleY(0); /* Makes border invisible by default */
    transform-origin: bottom;
    transition: transform 0.3s ease;
    border-radius: 10px;
  }
  /* Reveals invisible border */
  .navItem:hover::before {
    transform: scaleY(1);
  }
  /* nav-underline effect END */
}

