@import "tailwindcss";

@theme {
  --color-emerald-600: #059669;
  --color-emerald-500: #10b981;
  --color-lime-500:    #84cc16;
  --color-lime-400:    #a3e635;
  --color-white:       #ffffff; /* in case */
}